<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">메이플 스펙 스카우터</h1>
      <h2 class="mat-h2">스펙 환산기 by 스카니아/욘두뀨, 스카니아/챙미니</h2>
    </div>
  </div>
</header>
<main class="home-main">
  <div class="row">
    <div class="row-header">
      <h2>스펙 관련 정보</h2>
    </div>
    <div class="feature-list">
      <a routerLink="scouter" class="feature-item">
        <mat-card>
          <mat-card-title> 환산 주스탯 계산 </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            스탯창과 추가 정보를 통하여 환산 주스탯을 계산합니다.
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</main>
<ng-adsense
  [className]="'banner-slot'"
  [adSlot]="3570644969"
  [fullWidthResponsive]="true"
  [adFormat]="'horizontal'"
></ng-adsense>
