<mat-card>
    <mat-card-subtitle>추가 정보 입력</mat-card-subtitle>
    <mat-card-content>
        <div>
            <mat-form-field class="w-120">          
                <mat-label> 노블 방무 레벨</mat-label>
                <mat-select [(ngModel)]="auxiliary_table[0]">
                    <mat-option [value]="0">0</mat-option>
                    <mat-option [value]="1">1</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="4">4</mat-option>
                    <mat-option [value]="5">5</mat-option>
                    <mat-option [value]="6">6</mat-option>
                    <mat-option [value]="7">7</mat-option>
                    <mat-option [value]="8">8</mat-option>
                    <mat-option [value]="9">9</mat-option>
                    <mat-option [value]="10">10</mat-option>
                    <mat-option [value]="11">11</mat-option>
                    <mat-option [value]="12">12</mat-option>
                    <mat-option [value]="13">13</mat-option>
                    <mat-option [value]="14">14</mat-option>
                    <mat-option [value]="15">15</mat-option>                    
                  </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="auxiliary_table_list[0] == 2">
            <mat-form-field class="w-120">      
                <mat-label> 재사용 수치 </mat-label>
                <input
                  type="number"
                  matInput
                  [(ngModel)]="auxiliary_table[1]"
                  appSelectOnFocus
                />
            </mat-form-field>
        </div>
        <div *ngIf="auxiliary_table_list[0] == 3">
            <mat-form-field class="w-120">          
                <mat-label> 어빌리티 </mat-label>
                <mat-select [(ngModel)]="auxiliary_table[1]">
                    <mat-option [value]="3">패시브1렙</mat-option>
                    <mat-option [value]="0">해당 없음</mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="auxiliary_table_list[1] != 0">
            <mat-form-field class="w-120">          
                <mat-label> 쿨감 </mat-label>
                <mat-select [(ngModel)]="auxiliary_table[2]">
                    <mat-option [value]="0">없음</mat-option>
                    <mat-option [value]="1">1초</mat-option>
                    <mat-option [value]="2">2초</mat-option>
                    <mat-option [value]="3">3초</mat-option>
                    <mat-option [value]="4">4초</mat-option>
                    <mat-option [value]="4">5초</mat-option>
                    <mat-option [value]="4">6초</mat-option>
                    <mat-option [value]="4">7초</mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="auxiliary_table_list[2] != 0">
            <mat-form-field class="w-120">      
                <mat-label> 벞지 </mat-label>
                <input
                  type="number"
                  matInput
                  [(ngModel)]="auxiliary_table[3]"
                  appSelectOnFocus
                />
            </mat-form-field>
        </div>
        <div *ngIf="auxiliary_table_list[3] != 0">
            <mat-form-field class="w-120">      
                <mat-label> 크확 </mat-label>
                <input
                  type="number"
                  matInput
                  [(ngModel)]="auxiliary_table[4]"
                  appSelectOnFocus
                />
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>