<div class="container">
  <div class="flex-center">
    <h1 class="mat-h1">
      환산 주스탯 계산
    </h1>
  </div>
  <div class="layout">
    <mat-card>
      <mat-card-subtitle>직업 정보</mat-card-subtitle>
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label> 직업 선택 </mat-label>
            <mat-select 
            [(value)]="jobName"
            (selectionChange)="initializeJobValues()"
            appSelectOnFocus>
              <mat-option *ngFor="let job of job_names" [value]="job">{{job}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-label> 스탯창 기본 조건 </mat-label>
          <h4 class="mat-h4">
            시드링착용, 노도핑, 풀링크, 쓸만한 컴뱃 오더스 쓰지 않음
          </h4>
          <mat-label> 직업별 버프 조건 </mat-label>
          <h4 class="mat-h4">
            {{jobdata.jobBuffCond_}}
          </h4>  
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="layout">
    <app-stat-table
      [stat_table]="stat_table"
      [stat_table_list]="stat_table_list"
    >
    </app-stat-table>
    <app-equip-table
      [equip_table]="equip_table"
      [equip_table_list]="equip_table_list"
    >
    </app-equip-table>
    <app-auxiliary-table
      [auxiliary_table] = "auxiliary_table"
      [auxiliary_table_list] = "auxiliary_table_list"
    >

    </app-auxiliary-table>
    <app-link-table
      [link_table]="link_table"
    >  
    </app-link-table>
  </div>
  <div>
    <p> {{jobMainstatarr}} </p>
  </div>
  <div>
    <p> {{job100dmgarr}} </p>
  </div>
  


</div>
<ng-adsense
  [className]="'banner-slot'"
  [adSlot]="4692154941"
  [fullWidthResponsive]="true"
  [adFormat]="'horizontal'"
></ng-adsense>
