<div class="container">
  <div class="flex-center">
    <h1 class="mat-h1">
      환산 주스탯 계산 (Beta, Ver 220404)
    </h1>
  </div>
  <div class="layout">
    <mat-card>
      <mat-card-subtitle>직업 정보</mat-card-subtitle>
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label> 직업 선택 </mat-label>
            <mat-select 
            [(value)]="jobName"
            (selectionChange)=" initializeJobValues()"
            appSelectOnFocus>
              <mat-option *ngFor="let job of job_names" [value]="job">{{job}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="(jobName == '데몬어벤져') || (jobName == '데몬슬레이어')" class="w-120">          
            <mat-label> 루포실 유무 </mat-label>
            <mat-select 
            [(ngModel)]="basicData[3]"
            (selectionChange)="initializeJobValues()">
                <mat-option [value]="1">루포실 사용</mat-option>
                <mat-option [value]="0">루포실 미사용</mat-option>
              </mat-select>
        </mat-form-field>
        </div>
        <div>
          <mat-form-field>          
              <mat-label> 서버 </mat-label>
              <mat-select
              [(ngModel)]="basicData[0]"
              (selectionChange)="initializeJobValues()">
                  <mat-option [value]="0">본섭</mat-option>
                  <mat-option [value]="1">리부트</mat-option>
                </mat-select>
          </mat-form-field>
      </div>
      <div>
          <mat-form-field>      
              <mat-label> 레벨 </mat-label>
              <input
                type="number"
                matInput
                [(ngModel)]="basicData[1]"
                (ngModelChange)="initializeJobValues()"
                appSelectOnFocus
              />
          </mat-form-field>
      </div>
     
        <div>
          <mat-label> 스탯창 기본 조건 </mat-label>
          <h4 class="mat-h4">
            시드링착용, 노도핑, 풀링크, 쓸만한 컴뱃 오더스 쓰지 않음
          </h4>
          <mat-label> 직업별 버프 조건 </mat-label>
          <h4 class="mat-h4">
            {{jobdata.jobBuffCond_}}
          </h4>
          <mat-label> 스탯창 최종 데미지 </mat-label>
          <h1 class="mat-h1">
            {{basicData[2]}}
          </h1>
        </div>
      </mat-card-content>
    </mat-card>
    <app-stat-table
      [stat_table_front]="stat_table_front"
      [stat_table_back]="stat_table_back"
      [stat_table_list]="stat_table_list"
      [stat_table]="stat_table"
    >
    </app-stat-table>
    <app-equip-table
      [equip_table]="equip_table"
      [equip_table_list]="equip_table_list"
    >
    </app-equip-table>
    <app-auxiliary-table
      [auxiliary_table] = "auxiliary_table"
      [auxiliary_table_list] = "auxiliary_table_list"
    >
    </app-auxiliary-table>
    <app-link-table
      [link_table]="link_table"
    >  
    </app-link-table>
  </div>
  <div>
    <mat-card class="w-192">
      <mat-card-subtitle>환산 주스탯 정보</mat-card-subtitle>
      <mat-card-content>
        <button class="heading-button" (click)="calculate_user_stat()" mat-stroked-button>환산 주스탯 계산</button>
        <div>
          <mat-label> 환산 주스탯 </mat-label>
          <h1 class="mat-h1">
            {{actual_stat}}
          </h1>  
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  


</div>
<ng-adsense
  [className]="'banner-slot'"
  [adSlot]="4692154941"
  [fullWidthResponsive]="true"
  [adFormat]="'horizontal'"
></ng-adsense>
