<mat-toolbar class="navbar mat-elevation-z6" color="primary">
  <a
    routerLink="/"
    routerLinkActive="nav-selected"
    [routerLinkActiveOptions]="{ exact: true }"
    mat-button
    class="title"
    >Maple Scouter</a
  >
  <a routerLink="scouter" routerLinkActive="nav-selected" mat-button
    >환산 주스탯 계산</a
  >
  <div class="filler"></div>
  <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="lightTheme()">밝은 테마</button>
    <button mat-menu-item (click)="darkTheme()">어두운 테마</button>
  </mat-menu>
  <a target="_blank" href=" https://open.kakao.com/o/s7G3qmXd" mat-button> 문의 링크</a>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <mat-toolbar color="primary">
      <div class="filler"></div>
      <div class="mat-caption"> Developed by 스카니아/챙미니, 스카니아/욘두뀨</div>
      <div class="filler"></div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
